<div class="area" style="background-image: url('./assets/images/search-03.jpg'); opacity:0.7" >
    <div class="container-contact1" >

        <form class="contact1-form">
            <span class="contact1-form-title">
               <h1> {{title}} </h1>
           </span>

           <div>
            <p>Description: {{description}}</p>
            <p>Company: {{companyTitle}}</p>
            <p>StartTime: {{startTime}}</p>
            <p>Duration: {{duration}}</p>
            <p>JobType: {{jobType}}</p>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn left-btn" (click) ="apply()">
            Apply
          </button>
        </div>
    </form>
</div>
</div>


<nav class="main-menu" id="menu">

  <ul>
    <li class="has-subnav">
      <a href="search">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
        Home
        </span>
      </a>

    </li>

   <li class="has-subnav">
      <a href="my-jobs">
          <i class="fa fa-book fa-2x"></i>
          <span class="nav-text">
            My Jobs
       </span>
   </a>
</li>


</ul>

<i id="hide-icon" class="fa fa-angle-double-right fa-2x no-hover padding-li"></i>


<ul class="logout">
  <li>
     <a>
       <i class="fa fa-power-off fa-2x"></i>
       <span class="nav-text" name='logout' (click)="logout()">
          Logout
      </span>
  </a>
</li>
</ul>
</nav>
