<nav class="main-menu" id="menu">

  <ul>
    <li class="has-subnav">
      <a href="company-home">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
        Home
        </span>
      </a>

    </li>

   <li class="has-subnav">
      <a href="add-job">
          <i class="fa fa-user-plus fa-2x"></i>
          <span class="nav-text">
            Create job offer
       </span>
   </a>
</li>


</ul>

<i id="hide-icon" class="fa fa-angle-double-right fa-2x no-hover padding-li"></i>


<ul class="logout">
  <li>
     <a (click)="logout()">
       <i class="fa fa-power-off fa-2x"></i>
       <span class="nav-text">
          Logout
      </span>
  </a>
</li>
</ul>
</nav>
