<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="./assets/css/util.css">
<!--===============================================================================================-->
</head>
<body>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-form-title" style="background-image: url('./assets/images/bg-03.jpg');">
          <span class="login100-form-title-1">
            Sign Up
          </span>
        </div>

        <form class="login100-form validate-form">

          <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
            <span class="label-input100">Email</span>
            <input class="input100" type="text" name="email" [(ngModel)]='email' placeholder="Enter email">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-26" data-validate="Password is required">
            <span class="label-input100">Password</span>
            <input class="input100" type="password" name="password" [(ngModel)]='password' placeholder="Enter password">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-26" data-validate="Name is required">
            <span class="label-input100">Name</span>
            <input class="input100" type="text" name="name" [(ngModel)] ='name' placeholder="Enter name">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "Description is required">
            <span class="label-input100">Description</span>
            <input class="input100" type="text" name="description" [(ngModel)]='description' placeholder="Enter description">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "Phone number is required">
            <span class="label-input100">Phone number</span>
            <input class="input100" type="text" name="phone" [(ngModel)]='phoneNumber' placeholder="Enter phone number">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "Location is required">
            <span class="label-input100">Location</span>
            <input class="input100" type="text" name="location" [(ngModel)]='location' placeholder="Enter location">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "Number of employees is required">
            <span class="label-input100">Number of employees</span>
            <input class="input100" type="text" name="noOfEmployees" [(ngModel)]='noOfEmployees' placeholder="Enter number of employees">
            <span class="focus-input100"></span>
          </div>


            <div class="container-login100-form-btn p-t-30 p-l-50">
              <button class="login100-form-btn left-btn" (click) = 'register()'>
                Submit
              </button>
            </div>

            <div class="flex-sb-m w-full p-b-30 p-t-10 m-l-125">
              <div>
                <a href="/login" class="txt1">
                  Back to log in
                </a>
              </div>
            </div>

        </form>
      </div>
    </div>
  </div>

<!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
  <script src="js/main.js"></script>

</body>
</html>
