<html>
  <head>
    <title>Search domain </title>
  </head>
  <body>
<div class="s004" style="background-image: url('./assets/images/search-03.jpg'); opacity:0.7">
  <div class="container-contact1" style="margin-top: 50px; margin-bottom:100px;">
<table class='table-style cente'>
<!-- *ngIf='jobs && jobs.length' -->
<thead class="table100-head">
<tr>
  <th class="head1">Title</th>
  <th class="head1">Description</th>
  <th class="head1">Job Type</th>
  <th class="head1">Start Date</th>
  <th class="head1">Duration</th>
  <th class="head1"></th>
</tr>
</thead>
<tbody>
<tr *ngFor ='let job of myJobs' id="tr-table">
  <td class="column1">{{job.title}}</td>
  <td class="column2">{{job.description}}</td>
  <td class="column3">{{job.jobType}}</td>
  <td class="column3">{{job.startTime}}</td>
  <td class="column4">{{job.duration}}</td>
  <td class="column5"><button class="login100-form-btn left-btn" (click) = "removeJob(job)">Remove</button></td>

</tr>
</tbody>
</table>
</div>
</div>

<nav class="main-menu" id="menu">

  <ul>
    <li class="has-subnav">
      <a href="search">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">
        Home
        </span>
      </a>

    </li>

   <li class="has-subnav">
      <a href="my-jobs">
          <i class="fa fa-book fa-2x"></i>
          <span class="nav-text">
            My Jobs
       </span>
   </a>
</li>


</ul>

<i id="hide-icon" class="fa fa-angle-double-right fa-2x no-hover padding-li"></i>


<ul class="logout">
  <li>
     <a>
       <i class="fa fa-power-off fa-2x"></i>
       <span class="nav-text" name='logout' (click)="logout()">
          Logout
      </span>
  </a>
</li>
</ul>
</nav>

  </body>
</html>
