	<!DOCTYPE html>
	<html lang="en">
	<head>
		<title>Login </title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="./assets/css/util.css">
	<!--===============================================================================================-->
	</head>
	<body>

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<div class="login100-form-title" style="background-image: url('./assets/images/bg-03.jpg');">
						<span class="login100-form-title-1">
							Sign In
						</span>
					</div>

					<form class="login100-form validate-form">
						<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
							<span class="label-input100">Email</span>
							<input class="input100" type="text" name="email" [(ngModel)] = 'email' placeholder="Enter email">
							<span class="focus-input100"></span>
						</div>

						<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
							<span class="label-input100">Password</span>
							<input class="input100" type="password" name="password" [(ngModel)] = 'password' placeholder="Enter password">
							<span class="focus-input100"></span>
						</div>

						<div class="flex-sb-m w-full p-b-30">
							<div class="contact100-form-checkbox">
								<input class="input-checkbox100" id="ckb1" type="checkbox" name="student" value="student" (click) ="studentCheckbox($event)">
								<label class="label-checkbox100" for="ckb1">
									Student
								</label>
							</div>

							<div class="contact100-form-checkbox">
								<input class="input-checkbox100" id="ckb2" type="checkbox" name="company" value="company" (click)="companyCheckbox($event)">
								<label class="label-checkbox100" for="ckb2">
									Company
								</label>
							</div>
						</div>
						<div class="div-button-wrapper">
							<div class="container-login100-form-btn">
								<button class="login100-form-btn left-btn" (click) ="login(email.value, password.value)">
									Login
								</button>
							</div>
							<div class="container-login100-form-btn right-btn">
								<button class="login100-form-btn" (click) = "redirectToSignUp()">
									Sign Up
								</button>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>

	<!--===============================================================================================-->
		<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
		<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
		<script src="vendor/bootstrap/js/popper.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
		<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
		<script src="vendor/daterangepicker/moment.min.js"></script>
		<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
		<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
		<script src="js/main.js"></script>

	</body>
	</html>
