.area{
	background-image: url('../../../assets/images/add-job.jpg');
	 width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
    opacity: 0.7;
}

.area::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*-----------------TABLE----------------*/

.container-contact1 {
  width: 500px;
  height: 350px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 3%;

  position: center;
  width: 85%;

  min-height: 30px;
  text-align: center;
  z-index: 1;

}

.top-div{
margin-bottom: 20%;
margin-left: 25%;
top: 100px;
width: 100%;
min-height: 40px;
z-index: 2;
}

.bottom-div{
position: absolute;
padding-top: 10%;
width: 85%;
margin-top: 10%!important;
min-height: 30px;
text-align: center;
z-index: 1;

}

/*-------------------------------TABLE----------------------------*/

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width:auto!important;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;

  overflow-y:scroll;
  height:auto!important;

  display:block;

}


table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #333333;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-family: OpenSans-Regular;
  font-size: 21px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.head1{
  width:330px;
}

.column1 {
  width: 330px;
  padding-left: 40px;
}

.column2 {
  width: 330px;
}

.column3 {
  width: 330px;
}

.column4 {
  width: 330px;
  text-align: right;
}



@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  table tbody tr td {
    padding-left: 40% !important;

  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    /* position: absolute; */
    width: 40%;
    left: 30px;
    top: 0;
  }

  .column4{
    text-align: left;
  }

  .column4,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}


/*-------------- withdraw button ------------*/

container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #7691bc;
  border-radius: 25px;

  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn:hover {
  background-color: #333333;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}
