  <div class="area">
    <div class="container-contact1 " style="margin-top: 50px;">
  <table class='table-style'>
  <!-- *ngIf='jobs && jobs.length' -->
  <thead class="table100-head">
    <tr>
      <th class="head1">Title</th>
      <th class="head1">Description</th>
      <th class="head1">Duration</th>
      <th class="head1">Start Date</th>
      <th class="head1">Job Type</th>
      <th class="head1"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ='let job of filteredJobs' id="tr-table">
      <td class="column1">{{job.title}}</td>
      <td class="column2">{{job.description}}</td>
      <td class="column4">{{job.duration}}</td>
      <td class="column3">{{job.startTime}}</td>
      <td class="column3">{{job.jobType}}</td>
      <td class="column5"><button class="login100-form-btn left-btn" (click) = "withdrawJob(job)">Withdraw</button></td>

    </tr>
  </tbody>
</table>
</div>
  </div>
<app-navbar></app-navbar>
