<div class="area" >
  <div class="limiter">
    <div class="container-login100 center">
      <div class="wrap-login100">
        <div class="login100-form-title" >
          <span class="login100-form-title-1">
            Create job offer
          </span>
        </div>

        <form class="login100-form validate-form">
          <div class="wrap-input100 validate-input m-b-26" data-validate="Title is required">
            <span class="label-input100">Title</span>
            <input class="input100" type="text" name="title" [(ngModel)] = 'title' placeholder="Enter title">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "Description is required">
            <span class="label-input100">Description</span>
            <input class="input100" type="text" name="description" [(ngModel)] = 'description' placeholder="Enter description">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "Category is required">
            <span class="label-input100">Category</span>
            <input class="input100" type="text" name="category" [(ngModel)] = 'category' placeholder="Enter category">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-18" data-validate = "Category is required">
            <span class="label-input100">Start time</span>
            <input class="input100" type="text" name="startTime" [(ngModel)] = 'startTime' placeholder="Enter start time">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-26" data-validate="Duration is required">
            <span class="label-input100">Duration</span>
            <input class="input100" type="text" name="duration" [(ngModel)] = 'duration' placeholder="Enter duration">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input m-b-26" data-validate="Job type is required">
            <span class="label-input100">Type</span>
            <input class="input100" type="text" name="jobType" [(ngModel)] = 'jobType' placeholder="Enter job type">
            <span class="focus-input100"></span>
          </div>

          <div class="div-button-wrapper">
            <div class="container-login100-form-btn">
              <!-- <button class="login100-form-btn" (click) = "addJob(title.value, description.value, cateogry.value, startTime.value, duration.value, jobType.value)"> -->
              <button class="login100-form-btn" (click) = "addJob()">
                Add
              </button>
            </div>

        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>
