<html>
  <head>
    <title>Search domain </title>
  </head>
  <body>

    <div class="s004" style="background-image: url('./assets/images/search-03.jpg'); opacity:0.7">
      <div class="top-div">
      <form>
        <fieldset>
          <legend style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">WHAT ARE YOU LOOKING FOR?</legend>
          <div class="inner-form" >
            <div class="input-field">
              <input class="form-control" id="choices-text-preset-values" type="text" placeholder="Type to search by title..." name='filter' [(ngModel)] ='listFilter' />
              <button class="btn-search" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="suggestion-wrap" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; ">
            <button value="IT" class="astext text-border" (click) = 'filterByIT()'>IT</button>
            <button value="Medicine" class="astext text-border" >Medicine</button>
            <button value="Psychology" class="astext text-border" >Psychology</button>
            <button value="Law" class="astext text-border" >Law</button>
            <button value="Business" class="astext text-border" >Business</button>
          </div>
        </fieldset>
      </form>
    </div>

      <div class="container-contact1 " style="margin-top: 50px;">
    <table class='table-style'>
    <!-- *ngIf='jobs && jobs.length' -->
    <thead class="table100-head">
      <tr>
        <th class="head1">Title</th>
        <th class="head1">Description</th>
        <th class="head1">Company</th>
        <th class="head1">Start Date</th>
        <th class="head1">Duration</th>
        <th class="head1">Type</th>
        <th class="head1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor ='let job of filteredJobs' id="tr-table">
        <td class="column1">{{job.title}}</td>
        <td class="column2">{{job.description}}</td>
        <td class="column3">{{job.company.name}}</td>
        <td class="column3">{{job.startTime}}</td>
        <td class="column4">{{job.duration}}</td>
        <td class="column4">{{job.jobType}}</td>
        <td class="column5"><button class="login100-form-btn left-btn" (click) = "viewJob(job)">View</button></td>

      </tr>
    </tbody>
  </table>
  </div>

</div>



    <nav class="main-menu" id="menu">

      <ul>
        <li class="has-subnav">
          <a href="search">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
            Home
            </span>
          </a>

        </li>

       <li class="has-subnav">
          <a href="my-jobs">
              <i class="fa fa-book fa-2x"></i>
              <span class="nav-text">
                My Jobs
           </span>
       </a>
    </li>


    </ul>

    <i id="hide-icon" class="fa fa-angle-double-right fa-2x no-hover padding-li"></i>


    <ul class="logout">
      <li>
         <a>
           <i class="fa fa-power-off fa-2x"></i>
           <span class="nav-text" name='logout' (click)="logout()">
              Logout
          </span>
      </a>
    </li>
    </ul>
    </nav>


  </body>
</html>
